<form [formGroup]="fgBid" (ngSubmit)="onSubmit()" class="form-login">

  <mat-form-field appearance="fill">
    <mat-label>Bid</mat-label>
    <input currencyMask type="text"
     required matInput formControlName="fcBid" autocomplete="off">
    <mat-error *ngIf="fgBid.hasError('required', 'fcBid')">Please enter a bid</mat-error>
    <mat-error *ngIf="fgBid.hasError('min', 'fcBid')">Min value: 0,01</mat-error>
    <mat-error *ngIf="fgBid.hasError('max', 'fcBid')">Max value 1000,00</mat-error>
  </mat-form-field>

  <button mat-stroked-button color="primary" class="btn-login" [disabled]="!fgBid.valid" type="submit">
    <div class="flex-center">
      <span>Submit Bid</span>
      <mat-progress-spinner style="margin-left: 14px;" mode="indeterminate" color="primary" *ngIf="loading"
        diameter="20"></mat-progress-spinner>
    </div>
  </button>

</form>
