.form-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.mat-form-field {
  margin: 0 24px;
}

.btn-login {
  height: 2.4em;
  margin: 0px 12px 16px 18px;
}
