<mat-dialog-content class="mat-typography">

  <mat-card class="card-dialog">

    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Lowest unique bid auction winner</mat-card-title>
      <mat-card-subtitle class="card-subtitle">
        Menu that allows you to know who was the winner of the auction.
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

      <form [formGroup]="fgWinner" style="margin-top: 24px">

        <div class="double-fields">
          <mat-form-field >
            <mat-label>Id Bid</mat-label>
            <input type="text" required matInput formControlName="fcIdBid">
          </mat-form-field>

          <mat-form-field >
            <mat-label>Date Bid</mat-label>
            <input type="text" required matInput formControlName="fcDate">
          </mat-form-field>
        </div>

        <div class="double-fields">

          <mat-form-field >
            <mat-label>User Name</mat-label>
            <input type="text" required matInput formControlName="fcUserName">
          </mat-form-field>

          <mat-form-field >
            <mat-label>Bid</mat-label>
            <input type="text" required matInput formControlName="fcBid">
          </mat-form-field>

        </div>

        <div class="solo-field">
          <mat-form-field >
            <mat-label>Total Collection</mat-label>
            <input type="text" required matInput formControlName="dcTotalCollection">
          </mat-form-field>
        </div>


      </form>

    </mat-card-content>

  </mat-card>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Ok</button>
</mat-dialog-actions>
