$primary-color: #00add2;
$text-color: #666666;
$light-theme: #fafafa;
$so-light-theme: #fdfdfd;
$shadow-light-theme: 2px 1px 8px 0px #d6cfcf;
$sharpness: #838383;
$white: #ffffff;
$navbar-bg: #091827;
$border-table: #e8e8e8;
$table-color-text: #3f3f3f;
$accent: #ffd740;
$green-accent: #02bc77;
$header-table: #f7f7f7;
$warn: #f44336;
$ult-warn: #7c0800;
$formField: #f5f5f5;
$fira: #f49618;
$orange: #ff8534;
