/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: #fafafa; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import './assets/styles/snackbar.scss';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.flex-center {
  display: flex !important;
  align-items: center !important;
}
